<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.bitpay.cordova"
    version="0.1">
    <name>BitPay SDK</name>
    <description>This plugin allows to add to interact with BitPay</description>
    <license>MIT License, see LICENSE.md for details</license>

    <engines>
        <engine name="cordova" version="&gt;=3.0.0" />
    </engines>

    <dependency id="com.borismus.webintent" url="https://github.com/Initsogar/cordova-webintent" commit="3d12378de9f38be900761a0ad06ab697cf6d9add" />

    <js-module src="www/dist/bitauth.browser.min.js" name="BitAuth"> 
       <runs/>
    </js-module>

    <js-module src="www/dist/custom-event-polyfill.js" name="CustomEvent">
        <runs/>
    </js-module>

    <js-module src="www/dist/qrcode.js" name="QRCode">
        <runs/>
    </js-module>

    <js-module src="www/src/bitpay-client-id.js" name="ClientId">
        <runs/>
    </js-module>

    <js-module src="www/src/bitpay-file-config.js" name="FileConfig">
        <runs/>
    </js-module>

    <js-module src="www/src/bitpay-localstorage-config.js" name="LocalstorageConfig">
        <runs/>
    </js-module>

    <js-module src="www/src/bitpay-rpc-client.js" name="RPCClient">
        <runs/>
    </js-module>

    <js-module src="www/src/bitpay-invoice.js" name="Invoice">
        <runs/>
    </js-module>

</plugin>
